<br>
<div class="row">
  <div class="col-lg-12 col-xs-8 text-center">
    <h1>
      <p class="text-warning">Register</p>
    </h1>
  </div>
</div>

<br>
<form name="form" (ngSubmit)="addUser(); addUserForm.reset()" novalidate #addUserForm="ngForm">
  <fieldset>
    <div class="row">
      <div class="col-lg-4">
      </div>
      <div class="col-lg-4">
        <div class="form-group" >
          <label for="inputName">
            <h6 class="text-info">Name</h6>
          </label>
          <input type="text" class="form-control action-name" name="name" id="name" [(ngModel)]="user.name" placeholder="Enter name">
        </div>
        <br>
        <br>
        <div class="form-group">
          <label for="inputEmail">
            <h6 class="text-info">Email address</h6>
          </label>
          <input type="email" class="form-control action-email" name="email" id="email" aria-describedby="emailHelp" [(ngModel)]="user.email" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <br>
        <br>
          <button type="submit" class="btn btn-primary btn-lg btn-block action-submit" [disabled]="addUserForm.form.invalid">Create</button>
      </div>
      <div class="col-lg-4">
      </div>
    </div>
  </fieldset>
</form>
