<br>
<div class="row">
  <div class="col-lg-12 col-xs-8 text-center">
    <h1>
      <p class="text-warning">Habits</p>
    </h1>
  </div>
</div>


<table class="table table-hover">

  <tbody>
    <tr class="table-primary table-center">
      <td></td>
      <td> <div class="">
        <button type="button" routerLink="/edittask" class="btn btn-primary">+</button>
      </div></td>
      <td></td>
      <td>
        <h5><p><strong>Habits</strong></p></h5>
      </td>
      <td></td>
      <td></td>
      <td><button type="button" class="btn btn-danger">-</button></td>
    </tr>

    <tr class="table-primary">
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>

      <td><button type="button" class="btn btn-warning"  routerLink="/createhabit" >+</button></td>
    </tr>

  </tbody>
</table>
