<div class="events-w3layouts">
    <h2>Patch Notes</h2>
    <h2>Version 1.0</h2>
  </div>
  <div class="events-section2-agileinfo">
  <div class="container">
    <div class="blog1-w3ls">
      <div class="col-md-4 blog-image-w3l">
        <a href="single.html"><img src="assets/img/GoT1.jpg" alt=" " /></a>
      </div>
      <div class="col-md-8 blog-text-w3ls">
        <a href="single.html"><h4>Explore King's Landing</h4></a>
        <div class="item_info">
            <ul>
              <li><a href="#"><i class="glyphicon glyphicon-user"></i>Lord Barros</a></li>
              <li><a href="#"><i class="glyphicon glyphicon-comment"></i>20 Comments</a></li>
              <li><a href="#"><i class="glyphicon glyphicon-heart"></i>300 Likes</a></li>
            </ul>				
         </div>
         <p>King's Landing is the site of the Iron Throne and the Red Keep, the seat of the Kings of the Andals and the First Men.The City is overpopulated and dangerous at the best of times, despite being policed by a city watch. The King's Landing was founded by King Aegon I Targaryen- first of his name, King of the Andals and the First Men He established a small wooden fort atop the hill which was later named after him  where his ships first landed from Dragonstone, and used this as a base for his campaign to conquer the continent. Having achieved his goal, he established the new capital on the site of his original fort. The city expanded rapidly under his descendants.</p>
         <!-- for the moment no more info   
          <a href="single.html" class="blog-read" >Read More</a>
        -->
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="blog2-w3ls">
      <div class="col-md-4 blog-image-w3l">
        <a href="single.html"><img src="assets/img/axe.jpg" alt=" " /></a>
      </div>
      <div class="col-md-8 blog-text-w3ls">
        <a href="single.html"><h4>Prove the axes the new GoT weapons</h4></a>
        <div class="item_info">
            <ul>
              <li><a href="#"><i class="glyphicon glyphicon-user"></i>Lord Barros</a></li>
              <li><a href="#"><i class="glyphicon glyphicon-comment"></i>20 Comments</a></li>
              <li><a href="#"><i class="glyphicon glyphicon-heart"></i>300 Likes</a></li>
            </ul>				
         </div>
         <p>In this version you can use the new weapon, the axes are very strong in close combat, but you need to have a strong attribute to use well, you have yo explore and practice a lot to dominate the power of this weapon, soon in the patch 1.0.</p>
        <!-- for the moment no more info
         <a href="single.html" class="blog-read" >Read More</a>
         -->
      </div>
      <div class="clearfix"></div>
    </div>


    
  </div>
  </div>