<div class="contact-agileinfo">
  <div class="container">

    <!-- Stack the columns on mobile by making one full-width and the other half-width -->
    <br>
    <div class="row">
      <div class="col-lg-12 col-xs-8 text-center">
        <h1>
          <p class="text-warning">Login</p>
        </h1>

        <!--Imagen login-->
        <img src="/assets/img/login.png" class="Responsive image">

        <!--Email y password-->
        <form name="form" (ngSubmit)="onLogin()" novalidate>
          <fieldset>
            <br>
            <br>
            <div class="row">
              <div class="col-lg-4 text-left">
              </div>
              <div class="col-lg-4 text-left">
                <div class="form-group">
                  <label for="inputName">
                    <h6 class="text-info">Name </h6>
                  </label>
                  <input type="text" class="form-control" name="name" id="inputName" aria-describedby="nameHelp" [(ngModel)]="user.name" placeholder="Enter name">
                </div>
                <!-- Pedir email -->
                <div class="form-group">
                  <label for="inputEmail">
                    <h6 class="text-info">Email</h6>
                  </label>
                  <input type="email" class="form-control" name="email" id="inputEmail" aria-describedby="emailHelp" [(ngModel)]="user.email" placeholder="Enter email">
                </div>
                <br>
                  <button type="submit" class="btn btn-primary btn-lg btn-block">Sign in</button>
              </div>
              <div class="col-lg-4"></div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
