

  <!-- banner -->
  <div class="sub-banner">
		<!-- Navbar -->
		<nav class="navbar navbar-default">
			<div class="container">

				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a  routerLink="/"><h1><img src="assets/img/c1.png" alt=" " /> GoT Game</h1></a>
				</div>

				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li class="hover-effect "><a routerLink="/about" >About</a></li>
            <li class="hover-effect"><a routerLink="/games">Download Game</a></li>
            <li class="hover-effect"><a routerLink="/news">News</a></li>
						<li class="hover-effect"><a routerLink="/register">Register</a></li>
            <li class="hover-effect"><a routerLink="/login">Login</a></li>
            
					</ul>
				</div>

			</div>
		</nav>
</div>

<router-outlet></router-outlet>>

<!-- footer -->
<div class="footer">
        <div class="container">
          <div class="col-md-3 footer-left-w3">
            <h4>Contact</h4>
            <ul>
              <li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></li>
              <li><a href="mailto:example@mail.com"><h6>noforthemoment@mail.com</h6></a></li>
            </ul>
            <ul>
              <li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span></li>
              <li><h6>+9289748973894</h6></li>
            </ul>
            <ul>
              <li><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></li>
              <li><h6>Tec de Monterrey</h6></li>
            </ul>
            <ul>
              <li><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span></li>
              <li><h6>(0033)6544 5453 644</h6></li>
            </ul>
          </div>
          <div class="col-md-5 footer-middle-w3">
            <!-- //Latest 
            <h4>Latest Games</h4>
            <div class="col-md-3 img-w3-agile">
              <a href="single.html"><img src="images/ng1.jpg" alt=" " /></a>
            </div>
            <div class="col-md-3 img-w3-agile">
              <a href="single.html"><img src="images/ng2.jpg" alt=" " /></a>
            </div>
            <div class="col-md-3 img-w3-agile">
              <a href="single.html"><img src="images/ng3.jpg" alt=" " /></a>
            </div>
            <div class="col-md-3 img-w3-agile">
              <a href="single.html"><img src="images/ng4.jpg" alt=" " /></a>
            </div>
            <div class="col-md-3 img-w3-agile footer-middle-wthree">
              <a href="single.html"><img src="images/ng5.jpg" alt=" " /></a>
            </div>
            <div class="col-md-3 img-w3-agile footer-middle-wthree">
              <a href="single.html"><img src="images/ng6.jpg" alt=" " /></a>
            </div>
            <div class="col-md-3 img-w3-agile footer-middle-wthree">
              <a href="single.html"><img src="images/ng7.jpg" alt=" " /></a>
            </div>
            <div class="col-md-3 img-w3-agile footer-middle-wthree">
              <a href="single.html"><img src="images/ng8.jpg" alt=" " /></a>
            </div>
            <div class="clearfix"></div>
             -->
          </div>
          <div class="col-md-4 footer-right-w3">
            <a href="index.html"><h4>Game <img src="images/f1.png" alt=" " /> Info</h4></a>
            <p>In this part could be one description about our team or something.</p>
            <p class="agileinfo">.</p>
          </div>
          <div class="clearfix"></div>
          <div class="copyright">
            <p>&copy; 2018 GZ. All Rights Reserved | MMO Bros <a href="http://w3layouts.com/" target="_blank">  </a></p>
          </div>
        </div>
      </div>
      
      <!-- //footer -->