<br>
<div class="row">
  <div class="col-lg-12 col-xs-8 text-center">
    <h1>
      <p class="text-warning">New Habit</p>
    </h1>
  </div>
</div>

<br>
<fieldset>
  <div class="row">
    <div class="col-lg-4">
    </div>
    <div class="col-lg-4">
      <div class="form-group">

          <label for="title">
            <h6 class="text-info">Habit's name</h6>
          </label>
          <input class="form-control" id="title" aria-describedby="title" placeholder="Your habit's title" type="title">
        </div>
<br>
        <!-- habit's difficulty -->
          <fieldset>
            <label for="title">
              <h6 class="text-info">Habit's difficulty</h6>
            </label>
            <div class="form-group">
              <div class="custom-control custom-radio">
                <input type="radio" id="easyOption" name="customRadio" class="custom-control-input" checked="">
                <label class="custom-control-label" for="easyOption">
                  <p class="text-primary">Easy</p>
                </label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="mediumOption" name="customRadio" class="custom-control-input">
                <label class="custom-control-label" for="mediumOption">
                  <p class="text-success">Medium</p>
                </label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="hardOption" name="customRadio" class="custom-control-input">
                <label class="custom-control-label" for="hardOption">
                  <p class="text-danger">Hard</p>
                </label>
              </div>
            </div>
          </fieldset>

          <!-- Habit's type -->
          <fieldset>
            <label for="title">
              <h6 class="text-info">Habit's type</h6>
            </label>
            <div class="form-group">
              <div class="custom-control custom-radio">
                <input type="radio" id="easyOption" name="customRadio" class="custom-control-input" checked="">
                <label class="custom-control-label" for="easyOption">
                  <p class="text-primary">Easy</p>
                </label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="mediumOption" name="customRadio" class="custom-control-input">
                <label class="custom-control-label" for="mediumOption">
                  <p class="text-success">Medium</p>
                </label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="hardOption" name="customRadio" class="custom-control-input">
                <label class="custom-control-label" for="hardOption">
                  <h6 class="text-danger">Hard</h6>
                </label>
              </div>
            </div>
          </fieldset>
          <div align="center"><button type="button" routerLink="/tasks" id="addtaskbtn" class="btn btn-primary">Done</button></div>

    </div>
    <div class="col-lg-4">
    </div>
  </div>
</fieldset>
