<div align="center"><h1>Edit Task</h1></div>
<div class="form-group">
    <label for="title">Title:</label>
    <input class="form-control" id="edittitle" aria-describedby="title" placeholder="Edit title" type="title">
  </div>
  <div class="form-group">
      <label for="description">Description:</label>
      <textarea class="form-control" id="editdescription" placeholder="Edit description" rows="3"></textarea>
    </div>
<div class="form-group">
    <label for="date">Expiration Date:</label>
    <input class="form-control" id="editdate" aria-describedby="date" placeholder="15/05/2018" >
  </div>
  <div class="form-group">
      <label for="reminder">Reminder:</label>
      <input class="form-control" id="editreminder" aria-describedby="reminder" placeholder="14/05/2018" >
    </div>
    <div align="center"><button type="button" routerLink="/tasks" id="edittaskbtn" class="btn btn-primary">Edit Task</button></div>
    