<div align="center">
<div class="form-group">
  <div  class="custom-control custom-checkbox">
    <input class="custom-control-input" id="customCheck1" checked="" type="checkbox">
    <label class="custom-control-label" for="customCheck1">Task 1</label>
  </div>
  <div class="custom-control custom-checkbox">
    <input class="custom-control-input" id="customCheck2" checked="" type="checkbox">
    <label class="custom-control-label" for="customCheck2">Task 2</label>
  </div>
  <div class="custom-control custom-checkbox">
    <input class="custom-control-input" id="customCheck3" checked="" type="checkbox">
    <label class="custom-control-label" for="customCheck3">Task 3</label>
  </div>
  <div class="custom-control custom-checkbox">
    <input class="custom-control-input" id="customCheck4" checked="" type="checkbox">
    <label class="custom-control-label" for="customCheck4">Task 4</label>
  </div>
  <div class="custom-control custom-checkbox">
    <input class="custom-control-input" id="customCheck5" checked="" type="checkbox">
    <label class="custom-control-label" for="customCheck5">Task 5</label>
  </div>
  <div align="right"><button type="button" class="btn btn-warning"  routerLink="/player/home" >+</button></div> 
</div>
</div>